<!DOCTYPE html>
<html>
  <% content_for(:stylesheet) do %>
  <%= stylesheet_link_tag 'reservations/new' %>
  <% end %>
  <head>
    <meta charset="utf-8">
    <title>KORURU</title>
    <script src="https://kit.fontawesome.com/f325ea1c55.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="app/assets/stylesheets/orders/index.scss">
    <%#<script src="modal.js"></script>%>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <script>

   function check_form() {
		window.confirm("予約を確定します。料金は、当日店舗にてお支払い下さい。😊")
    };
  </script>

  <body class="orders-index">
 
  <div class="container">
  <div class="row">
      <div class="col-12 text-center title">
      <h1>予約確認画面</h1>
      </div>

    <div class="col-12 mt-3 text-center content">
      <div>
        <% if flash[:notice] %>
       <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <label><strong>席のタイプ：</strong></label>
        <p style="display:inline;"><%= @reservation.seat_type.name %></p>
      </div>
      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%= @reservation.day %></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%= @reservation.time %></p>
      </div>
      <div class="explain">
      <h3>予約完了しました。Koruruワーキングスペースのご利用ありがとうございます😊 <p>料金は、直接店舗にてお支払い下さい</p></h3></div>
    </div>


    <div class="col-12 text-right">
      <div class='buy-btn'>
       <button id="open" data-turbo-confirm >購入</button>
       <%= link_to "購入確定", reservations_path, :onclick => "return check_form()" %>
       <section id="modal">
            <h1>予約完了しました。</h1>
            <p>Koruruワーキングスペースのご利用ありがとうございます。料金は、直接店舗にてお支払い下さい😊</p>
          <button id="close">閉じる</button>
       </section>
       <div id="mask"></div>

     
        <%#<%= form_with model: @order do |f| %>
         <%# <%= f.submit "購入",class:"buy-red-btn", id:"button" %>
        <%#<% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
